<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmar limpeza</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
      .table-scroll {
          display: block;
          max-height: calc(3em * 5);
          width: 100%;
          overflow-y: auto;
      }
  </style>
</head>
<body>
<div class="container mt-5">
  <section id="home d-flex ">
    <h1 class="text-center"><i class="bi bi-columns me-2"></i>Limpar Colunas Repetidas</h1>
    <div class="main-form w-75 rounded p-5 mx-auto" style="background-color: #eaeaea">
      <h2>Resumo</h2>
      <h5>Tabela: <span class="fw-bold">{{ table_name }}</span></h5>
      <h5>Coluna: <span class="fw-bold">{{ column_name }}</span></h5>
      <p>Foram encontrados <span class="text-danger fw-bold">{{ count if count else 0 }}</span> valores repetidos.
        <a target="_blank" href={{ url_for('log', intent="view") }}>Veja o registro</a>
        <a class="ms-1" target="_blank" href={{ url_for('log', intent="download") }}><i
          class="bi bi-cloud-arrow-down-fill"></i></a>
      </p>
      <div class="table-scroll">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            {% for column in columns %}
              <th scope="col">{{ column }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for row in matrix %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              {% for value in row %}
                <td>{{ value }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-success w-100 mt-2">
        Aplicar mudanças<i class="bi bi-database ms-1"></i>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
           aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel"><span class="text-success fw-bold">{{ count if count else 0 }}</span> mudanças serão aplicadas</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>A seguinte query SQL será executada no banco de dados:</p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>